<!-- Create your form here -->
<h1>Add a New Student</h1>

<p><label>First Name: </label> <% text_field_tag :first_name %></p>

<p><label>Last Name: </label> <% text_field_tag :last_name %></p>

<%=submit_tag "Submit Student"%>
